*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    width: 100%;

    background-image: url(https://cdn.pixabay.com/photo/2017/08/05/14/59/chair-2584260_1280.jpg);
    background-size: cover;
    font-family: 'Quicksand', sans-serif !important;
  }

nav{
    height: 90px;
    box-shadow: -1px 40px 159px -10px rgba(0, 0, 0, 0.57);
    -webkit-box-shadow: -1px 40px 159px -10px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: -1px 40px 159px -10px rgba(0, 0, 0, 0.57);
}

.logo{
    display: none;
    width: 45px;
    height: 45px;
    margin-left: 18px;
}

.card-container {
    width: 100%;
    margin-top: 160px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    flex-wrap: wrap
}

.post-container{
    display: grid;
    place-items: center;
    margin-top: 150px;
    padding-left: 0 !important;
    width: 100%;

}
.list-odont{
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding: 0 !important;
}
.list-odont h6{
    margin: 0 !important;
    padding: 16px 20px;
}

.form-container{
    width: 100%;
    display: grid;
    place-items: center;
    margin-top: 150px;

}

.accordion {
    --bs-accordion-bg: #ffffff;
    --bs-accordion-btn-focus-border-color: #ffffff;
    --bs-accordion-active-color: var(--bs-primary-text-emphasis);
    --bs-accordion-active-bg: #ffffff;
}

.accordion-item{
    background-color: #ffffff;
}

.col-sm-4{
    height: 350px;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 30px;
    background-color: #d8dbde;
    text-align: center;
    padding: 10px;
    margin-top: 150px;
    border: solid rgb(181, 179, 179) 1px;
    box-shadow: 1px 1px 151px 27px rgba(0,0,0,0.49);
    -webkit-box-shadow: 1px 1px 151px 27px rgba(0,0,0,0.49);
    -moz-box-shadow: 1px 1px 151px 27px rgba(0,0,0,0.49);
}

.was-validated{
    background-color: #ffffff !important;
    padding: 20px;
    width: 490px;
    border-radius: 20px;
    box-shadow: 1px 1px 151px 27px rgba(0,0,0,0.49);
    -webkit-box-shadow: 1px 1px 151px 27px rgba(0,0,0,0.49);
    -moz-box-shadow: 1px 1px 151px 27px rgba(0,0,0,0.49);
}

.table-responsive{
    border-radius: 15px;
}

form div:nth-child(3){
    padding-bottom: 20px;
}

@media (max-width: 640px){
    .logo{
        display: block;
    }
    .navbar-brand{
        display: none;
    }
}